.contents1{
    font-size: 20px;
    font-weight: lighter;
}

.contents2{
    font-size: 18px;
    font-weight: 100;
}

/* about0 */

.about0{
    width : 100%;
    height : 820px;
}

.about0 > h1{
    text-align: center;
}

.about0 > .contents1{
    text-align: center;
}

.introduce{
    width:1280px;
    display: flex;
    margin:49px auto;
    height:427px;
}

.introduce > image{
    width : 960px;
    height : 780px;
}

.introduce > .contents2{
    padding : 20px;
}

/* about1 */

.about1{
    width : 100%;
    height : 800px;
    background-color: #EAF6FE;
}

.about1 > h1{
    text-align: center;
    padding-top: 50px;
}

.about1 > .contents1{
    text-align: center;
}

.organization{
    display : flex;
    margin : auto;
    padding-top : 30px;
    width : 842px;
    height : 596px;
}