*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    color:#000;
}

/* header */

.header{
    display:flex;
    width:1280px;
    margin:auto;
    height:86px;
    margin-bottom : 100px;
}

.logo{
    margin-top : 16px;
    width : 300px;
}

.logo_image{
    width : 50px;
    height : 50px;
}

.logo_text{
    line-height: 80%;
    text-decoration: none;
    font-weight : bold;
    font-size: 55px;
}

.nav{
    display : flex;
    justify-content : flex-end;
    line-height : 86px;
    width : calc(1280px - 300px);
    margin-top : 16px;
    border-bottom: 1px #000 solid;
}

.nav > li{
    margin-left : 84px;
}

/* footer */

footer{
    display:flex;
    background:#1f1f1f;
    padding:30px;
}

footer > div:first-child{
    flex:3;
    text-align: center;
    color: #fff;
}

footer > div:last-child{
    flex:9;
    color:#fff;
    line-height : 1.8;
    padding-inline-start : 1.5em;
}

footer > div > p{
    font-size : 14px;
    color : rgb(150, 150, 150)
}