/* intro */

.intro_contact{
    position: relative;
    width: 100%;
    height: 800px;
}

.intro_contact .box{
    position: absolute;
    width: 300px;
    top:25%;
    left: 50%;
    transform: translateX(-50%);
}

.intro_contact p{
    font-family: Lato,"Helvetica Neue" ;
    font-weight: 300;
    position: absolute;
    width: 100%;
    top:70px;
    text-align: center;
    opacity: 0;
    transition: all .2s ease;
}

.intro_contact .box:hover p {
    top:85px;
    z-index: 2;
    opacity: 1;
    transition: all .2s ease;
}

/* contact0 */

.contact0{
    position: relative;
    width : 100%;
    padding: 0 0 500px 0;
}

.contact0::before {
    content: "";
    display: block;
    width: 100%;
    height: 15px;
    background-color: #f5f5f5;
}

.contact0 > h1{
    margin-top: 50px;
}

.members{
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    padding: 0 5%;
}

.members > li{
    position : relative;
    width: 300px;
    height: auto;
    padding : 20px;
    margin: 50px auto;
}

.members > li > h3{
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
}

.members > li > .more{
    display: block;
    width : 40%;
    padding: 5px 0;
    margin : auto;
    border : 1px solid black;
    border-radius: 10px;
    cursor : pointer;
}

.members > li > #basic_img{
    display: block;
    width : 60%;
    margin : 5% 20% 5% 20%;
    border-radius: 30%;
}

/* contact1 */

.contact1{
    width : 100%;
    height : 300px;
    margin: 100px 0;
    background: linear-gradient(45deg, rgb(250, 141, 250), rgb(255, 115, 0));
}

.contact1 > h2{
    padding-top : 100px;
}

.contact1 > #more{
    width : 100px;
    height : 50px;
    margin : 20px auto;
    border : 1px solid #fff;
    border-radius: 50px;
    cursor : pointer;
}

.contact1 > #more > p{
    padding-top : 12px;
}

/* member_profile */

.dim{
    display: none;
    position: fixed;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 100;
}


.jm,
.gc,
.pt,
.gr,
.yj,
.sj,
.hs
{
    display: none;
}

.member_profile {
    position: absolute;
    left : 50%;
    width: 600px;
    height: 100%;
    padding: 40px;
    margin: auto;
    border-radius: 10px;
    z-index: 101;
    color: #1E1E1E;
    background-color: #FFF;
    transform: translate(-50%, 0);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    overflow: scroll;
}

.member_profile section {
    display: flex;
    margin-bottom: 70px;
    justify-content: space-between;
}

.member_profile section:last-child {
    display: flex;
    margin-bottom: 0;
    justify-content: end;
}

.headline {
    width: 150px;
    display: flex;
    flex-direction: column;
}

.headline > .name {
    font-size: 26px;
    margin-bottom: 5px;
}

.headline > .eng_name {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 60px;
}

.headline > .profile_img {
    width: 150px;
    border: 1px solid #A4A4A4;
    border-radius: 100%;
}

.introduce {
    width: 320px;
    padding-top: 55px;
}

.introduce > .contact {
    margin-bottom: 30px;
}

.introduce > .contact::before {
    content: "";
    display: block;
    width: 320px;
    height: 3px;
    background-color: #A4A4A4;
}

.introduce > .contact::after {
    content: "";
    display: block;
    width: 320px;
    height: 1px;
    background-color: #A4A4A4;
}

.introduce > .contact ul {
    display: flex;
    margin: 15px 0;
    align-content: center;
    justify-content: space-between;
}

.introduce > .contact .contact_list {
    display: flex;
}

.introduce > .contact .contact_list .phone_img{
    width: 25px;
    margin-top: 5px;
    margin-right: 10px;
}

.introduce > .contact .contact_list .email_img{
    width: 25px;
    margin-top: 5px;
    margin-right: 10px;
}

.profile h2 {
    margin-bottom: 10px;
}

.part_title {
    width: 150px;
    text-align: center;
}

.part_content {
    width: 320px;
}

.content_list--title {
    display: flex;
    flex-flow: column;
    width: 80px;
    margin-right: 50px;
}

.content_list--content {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.part_content::before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    margin-bottom: 30px;
    background-color: #A4A4A4;
}

.content_list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.content_list:last-child {
    margin-bottom: 0;
}

.sns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.sns > .mapple {
    margin-right: 20px;
}

.sns_img {
    width: 25px;
}

.close{
    width: 40px;
    top : 5px;
    right : 5px;
    position :absolute;
    cursor:pointer;
}