*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    color:#000;
}

.contact0{
    width : 100%;
    height : 700px;
}

.contact0 > h1 {
    text-align: center;
}
