@charset "utf-8";

.fs-intro{
    font-size:45px;
}

.fs-main{
    font-size: 22px;
    padding-top: 50px;
}

.fs-big {
    font-size: 15px;
}

.fs-large {
    font-size: 12px;
}

.fs-medium {
    font-size: 8px;
    line-height: 14px;    
}

.fs-small {
    font-size: 7px;
    line-height: 17.5px;
}

.fs-tiny {
    font-size: 6px;
}

header .left h1{
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    float: none;
    padding: 0 0 0 0;
}

header h1 a{
    width: 4.5rem;
    height: 4.5rem;
    background: url("../IMAGE/logo_c.jpg") no-repeat 0 0 / 4.5rem auto;
}

header .right > div{
    float: left;
}

header .all{
    position: relative;
    display: block;
    width: 1.5rem;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    height: 1rem;
    color: transparent;
    margin: 1rem 0 0 -2rem;
}

header .all:before{
    content:"";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1.8px;
    transform: translateY(-50%);
    background-color: #000;
}

/* mobile menu */

header .nav{
    position: absolute;
    top: 0;
    left: -120%;
    transition: left 0.7s;
    width: calc(100% - 6rem);
    height: 100%;
    z-index: 101;
    background-color: #f5f5f5;
    padding : 1rem 2rem 1rem 2rem;
}

header h2{
    display: block;
    font-size: 2rem;
    margin: 0 0 4rem;
}

header .nav.on{
    left: 0;
}

header .nav.on nav{
    border-top: 2px solid black;
    padding: 0 0 2rem;
}

header .nav.on nav li{
    float: none;
    margin: 0;
    padding: 0 1rem;
    border-bottom: 1px solid #cecece;
}

header .nav.on nav li a{
    font-weight: bold;
    font-size: 1rem;
    height: 3rem;
    line-height: 3rem;
    font-style: italic;
}

header .nav.on nav li a:before{
    display: none;
}

header .close{
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: transparent;
    width: 1rem;
    height: 1rem;
    background: url("../IMAGE/close.png") no-repeat 0 0 / 1rem auto;
}

/* footer */

footer{
    height: 5rem;
}

footer h1{
    width: 5rem;
    height: 5rem;
    margin: auto;
    background: url("../IMAGE/logo_x.png") no-repeat 0 0 / 4.5rem auto;
}

/* home - intro */

.intro_home{
    height: 600px;
}

.intro_home .box{
    width: 150px;
}

.intro_home .box p{
    top:80px;
}

.hourglass{
    height: 60px;
    width: 60px;
    border-radius:60px;
    left: 50%;
    left: -webkit-calc(50% - 34px);
    left: calc(50% - 34px);
}

.hourglass:before{
    top :5.5px;
    left: 9.9px;
    border-width: 28px 20px 0 20px;
}

.hourglass:after{
    top: 26px;
    left: 10px;
    border-width: 0 20px 28px 20px;
}

@-webkit-keyframes hourglass{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(180deg);}
}

@keyframes hourglass{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(180deg);}
}

/* intro */
.intro_about p,
.intro_service p,
.intro_contact p{
    top:40px;
}

.intro_about .box:hover p,
.intro_service .box:hover p,
.intro_contact .box:hover p {
    top:55px;
}

/* about */

.about0,
.about1,
.about2,
.about3{
    padding: 0 0 70px 0;
}

.about0::before,
.about1::before,
.about2::before{
    height: 10px;
}

.about0 > h1,
.about1 > h1,
.about2 > h1,
.about3 > h1{
    margin-top: 25px;
}

/* about - about0 */

.future{
    width:90%;
    display: block;
    padding : 20px 5% 0 5%;
    margin: auto;
}

.future img{
    flex: none;
    display: block;
    width: 100%;
    height: auto;
}

.future > .contents1{
    flex: none;
    display: block;
    padding : 10px;
}

/* about - about2 */

.organization{
    padding: 0;
}

/* service */

.service0,
.service1,
.service2{
    padding: 0 0 70px 0;
}

.service0::before,
.service1::before{
    height: 10px;
}

.service0 > h1,
.service1 > h1{
    margin-top: 25px;
}

/* service-service0 */

.A{
    display: block;
    width:80%;
    margin: 20px auto;
    padding: 0 10% 0 10%;
}

.A > div{
    width : 100%;
}

.A img{
    width: 100%;
}


/* service-service1 */

.B_1{
    display : block;
    width : 80%;
    margin: 20px auto;
    padding: 0 10% 0 10%;
}

.B_1 > li{
    width: 100%;
    height: auto;
}

.B_1 > li:last-child{
    margin-bottom: 0;
}

.B_1 img{
    width : 100%;
    height: auto;
}

.B_2{
    width : 80%;
    display : block;
    padding: 10px 10% 0 10%;
}

.B_2 > li{
    width: 100%;
    height: auto;
}

.B_2 > li:last-child{
    margin-bottom: 0;
}

.B_2 img{
    width : 100%;
    height: auto;
}

/* contact */

.contact0::before {
    height: 10px;
}

.contact0 > h1{
    margin-top: 25px;
}

/* contact-contact0 */

.members > li{
    margin: 20px auto;
}

.members > li > #more{
    width : 40%;
    padding: 5px 0;
    cursor : pointer;
}

/* contact profile */

.member_profile {
    top: 5%;
    width: 80%;
    max-width: 600px;
    padding: 5%;
}

.introduce {
    padding-top: 30px;
    width: 50%;
}

.introduce > .contact {
    margin-bottom: 15px;
}

.introduce > .contact::before {
    width: 100%;
}

.introduce > .contact::after {
    width: 100%;
}

.introduce > .contact .contact_list {
    display: block;
    margin-right: 5%;
}

.sns {
    margin-bottom: 100px;
}

.close{
    width: 25px;
    top : 5px;
    right : 5px;
}