/* intro */

.intro{
    position: relative;
    height: 800px;
    width: 100%;
}

.intro .box{
    position: absolute;
    width: 300px;
    top:25%;
    left: 50%;
    transform: translateX(-50%);
}

.intro p{
    font-family: Lato,"Helvetica Neue" ;
    font-weight: 300;
    position: absolute;
    width: 100%;
    top:70px;
    height: 25px;
    text-align: center;
    opacity: 0;
    transition: all .2s ease;
}

.intro .box:hover p {
    bottom:0px;
    top:85px;
    opacity: 1;
    transition: all .2s ease;
    z-index: 2;
}
/* service0 */

.service0{
    width : 100%;
    padding: 0 0 100px 0;
}

.service0::before {
    content: "";
    display: block;
    width: 100%;
    height: 15px;
    background-color: #f0f0f0;
}

.service0 > h1{
    margin-top: 50px;
}

.A{
    display: flex;
    width:1280px;
    margin:50px auto;
}

.A > div:first-child{
    width : 630px;
    margin: 5px;
    overflow: hidden;
}

.A > div:last-child{
    width : 630px;
    margin: 5px;
    overflow: hidden;
}

.A img {
    width: 630px;
    height: auto;
    transition: all 0.2s linear;
}

.A img:hover{
    transform: scale(1.2);
}

/* service1 */

.service1{
    width : 100%;
    padding: 0 0 100px 0;
}

.service1::before {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    background-color: #f0f0f0;
}

.service1 > h1{
    margin-top : 50px;
}

.B_1{
    width : 1280px;
    display : flex;
    margin : auto;
    margin-top : 50px;
}

.B_1 > li{
    position: relative;
    width: 420px;
    height: 420px;
    margin-bottom : 10px;
}

.B_1 > li:not(:last-child){
    margin-right: 10px;
}

.B_2{
    width : 1280px;
    display : flex;
    margin : auto;
}

.B_2 > li{
    position: relative;
    width: 420px;
    height: 420px;
    margin-bottom : 10px;

}

.B_2 > li:not(:last-child){
    margin-right: 10px;
}

/* service2 */

.service2{
    width : 100%;
    padding: 0 0 100px 0;
}

/* B animation */

figure.fourLine {
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 16px;
    position: relative;
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    color: #ffffff;
}

  figure.fourLine *,
  figure.fourLine *:before,
  figure.fourLine *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-transition: all 0.55s ease;
    transition: all 0.55s ease;
}

figure.fourLine img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
    opacity: 0.9;
}

figure.fourLine .title {
    position: absolute;
    top: 58%;
    left: 13%;
    padding: 5px 10px 10px;
}
figure.fourLine .title:before,
figure.fourLine .title:after {
    content: '';
    position: absolute;
    width: 600px;
    height: 2px;
    background-color: #ffffff;
}

figure.fourLine .title:before {
    top: 0;
    left: 10px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

figure.fourLine .title:after {
    right: 10px;
    bottom: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

figure.fourLine .title div:before,
figure.fourLine .title div:after {
    width: 2px;
    height: 600px;
    position: absolute;
    content: '';
    background-color: #ffffff;
}

figure.fourLine .title div:before {
    top: 10px;
    right: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

figure.fourLine .title div:after {
    bottom: 10px;
    left: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

figure.fourLine h2,
figure.fourLine h4 {
    margin: 0;
    text-transform: uppercase;
}

figure.fourLine h2 {
    font-weight: 400;
}

figure.fourLine h4 {
    display: block;
    font-weight: 700;
    background-color: #ffffff;
    padding: 5px 10px;
    color: #000000;
}

figure.fourLine figcaption {
    position: absolute;
    bottom: 42%;
    left: 14%;
    text-align: left;
    opacity: 0;
    padding: 5px 60px 5px 10px;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 1.5px;
}

figure.fourLine figcaption p {
    margin: 0;
}

figure.fourLine a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

figure.fourLine:hover{
    background-color: #000;
}

figure.fourLine:hover img,
figure.fourLine.hover img {
    zoom: 1;
    filter: alpha(opacity=35);
    -webkit-opacity: 0.35;
    opacity: 0.35;
}

figure.fourLine:hover .title:before,
figure.fourLine.hover .title:before,
figure.fourLine:hover .title:after,
figure.fourLine.hover .title:after,
figure.fourLine:hover .title div:before,
figure.fourLine.hover .title div:before,
figure.fourLine:hover .title div:after,
figure.fourLine.hover .title div:after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

figure.fourLine:hover .title:before,
figure.fourLine.hover .title:before,
figure.fourLine:hover .title:after,
figure.fourLine.hover .title:after {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

figure.fourLine:hover figcaption,
figure.fourLine.hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}