*{
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    color:#000;
}

.service0{
    width : 100%;
    height : 700px;
}

.service0 > h1{
    text-align: center;
}

/* footer */

footer > div:first-child{
    margin-top : 15px;
}

footer li{
    color : rgb(150, 150, 150);
    font-size : 14px;
}

footer li::marker{
    color : rgb(150, 150, 150);
}